@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@800&family=Roboto:wght@300;400&display=swap');

html {
    scroll-behavior: smooth;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: white;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #141414;
    display: grid;
    grid-template-columns: 400px auto;
}
.logo {
    padding-top: 5px;
    width: 270px;
}
#logo_link {
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
} 
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    position: relative;
}
nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 10px;
    background-color: #922b2b;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in-out 0s;
}
nav a:hover::after {
    transform: scaleX(1);
}
.home-title {
    font-family: "Roboto Flex", Arial, sans-serif;
    font-size: 2.8em;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 130px;
    margin-right: 100px;
}
#hero-msg h1 {
    text-align: right;
}
#hero-img {
    width: 100%;
}
.button-box {
    text-align: right;
}
h2 {
    font-family: "Roboto Flex", Arial, sans-serif;
    font-size: 2.2em;
    margin: 35px auto;
}
.home-grid {
    text-align: center;
}
#homepage-introduction {
    padding-top: 40px;
    padding-bottom: 90px;
    background-image: url("../images/background.PNG");
    background-position: center;
    background-size: cover;
}
p {
    font-weight: 300;
}
#introduction-msg {
    margin: 40px 300px 70px;
}
.benefits-grid {
    padding: 30px 0 100px;
    background-color: #dce7e6;
}
#benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
}
.benefit {
    padding: 40px;
    margin: 20px;
    width: 300px;
    background-color: #141414;
    color: #adadad;
    border-radius: 15px;
    transition: transform .3s;
}
.benefit:hover {
    transform: scale(1.05);
}
.benefit h3 {
    color: white;
}
.benefit p {
    font-size: 0.9em;
}
.button {
    text-decoration: none;
    display: inline-block;
    padding: 17px 40px;
    margin-top: -15px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background: #141414;
    color: white;
	font-size: 18px;
    transition: .2s ease-in-out;
}
.button:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 60px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: -80px;
    transform: skewX(-45deg);
}
.button:hover {
    background: #141414;
    color: white;
}
.button:hover:before {
    left: 120%;
    transition: .5s ease-in-out;
}
.button:focus {
    background: #141414;
    color: white;
    outline: none;
}
.efficient, .professional, .superhuman {
    max-width: 384px;
    text-align: center;
    margin-top: 40px;
}
.icon {
    width: 70px;
}
#quote {
    font-size: larger;
    padding: 50px 300px 100px;
    background-image: url("../images/background2.PNG");
    background-position: center;
    background-size: cover;
}
#quote-img {
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;
}
#up-button {
    display: none;
    position: fixed;
    bottom: 202px;
    right: 30px;
    z-index: 99;
    font-size: 24px;
    border: 2px solid #dce7e6;
    border-radius: 50%;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: #dce7e6;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
#up-button:hover {
    background-color:  rgba(173, 173, 173, 0.5);
    color: white;
    border: none;
}
#up-button::before {
    content: "\1F861"; 
}
footer {
    background-color: #141414;
    color: #adadad;
    padding: 50px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #adadad;
}
footer p {
    font-size: 1.2em;
    font-weight: 400;
}
footer p a:hover {
    text-decoration: none;
}
footer .social img {
    padding-top: 15px;
} 
footer .social img:hover {
    opacity: .6;
}

/* Services subpage */

.subpage-introduction {
    text-align: center;
}
.services {
    margin: 50px;
}
.service {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-bottom: 30px;
    background-color: #dce7e6;
}
.service-img {
    width: 600px;
    height: 100%;
}
.service-content {
    display: flex;
    flex-direction: column;
}
.services h3 {
    margin: 10px 30px;
    margin-bottom: 15px;
}
.services p {
    font-size: 0.75em;
    margin: 0 30px;
}
.services a {
    margin-left: 30px;
}

