@import url('https://fonts.googleapis.com/css2?family=Moul&family=Poppins:wght@400;800&display=swap');
body {
    background-color: #f4f1de;
    color: #3d405b;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    font-size: 2em;
    font-weight: 800;
}
img {
    width: 150px;
    border-radius: 50%;
}
p {
    font-size: smaller;
    width: 1200px;
    margin: 10px auto;
}
div {
    text-align: left;
}